body {
  font-size: 16px;
  color: #fff;
  background-color: #111;
  font-family: 'Reggae One', cursive;}

#header-nav {
  background-color: tomato;
  border-radius: 0;
}

#navbar-foodLlc {
  height: inherit;
  padding: 10px 0 10px 50px;
}

.headerFoodLlc {
  width: 250px;
  height: inherit;
  color: #000;
  font-size: 2.5em;
}

#navbar-foodLlc {
  padding: 25px;
}

#nav-list {
  border-radius: 15px;
  background-color: rgb(155, 36, 36);
  color: burlywood;
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 25px;
}

button.navbar-toggle, .icon-bar {
  border: 3px solid #4b4300;
  background-color: ivory;
}
button.navbar-toggle {
  float: right;
  clear: both;
  margin-top: -55px;
  margin-left: 25px;
}

.our-menu {
	text-align: center;
	font-size: 1.5em;
  padding: 15px 0px 15px 0px;	
}

.menu-title {
  border-radius: 7px;
  background-color: cornflowerblue;
  color: #111;
  height: inherit;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  padding: 10px;
}

.menu-title span {
  position: absolute;
  top: 10px;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
  #navbar-foodLlc {
    padding:15px 0px 20px 25px;
    height: inherit;
  }
}

@media (max-width: 479px) {
  #navbar-foodLlc h1 {
    padding-top: 5px;
    font-size: 6vw;
  }
  
  .menu-title {
    width: 280px;
    margin: 0 auto 15px;
  }
}

.menu-description {
  margin-top: 55px;
  text-align: center;
  color: rgb(10, 1, 63);
  font-size: x-large;
  height: auto;
}

.backToTop {
  color: rgb(217, 255, 0);
}